services:

  db-scob:
    image: postgres:17
    container_name: belhisfirm-scob-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: scob
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data_scob:/var/lib/postgresql/data
      - ./scob_db_dump/init:/docker-entrypoint-initdb.d
    networks:
      - belhisfirm-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U scob_user -d scob" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # Ontop Virtual Knowledge Graph
  vkg-scob:
    image: ontop/ontop:latest
    container_name: belhisfirm-scob-vkg
    restart: unless-stopped
    depends_on:
      db-scob:
        condition: service_healthy
    ports:
      - "8082:8080"
    volumes:
      - ./vkg/input:/opt/ontop/input
      - ./vkg/jdbc:/opt/ontop/jdbc
    environment:
      ONTOP_ONTOLOGY_FILE: /opt/ontop/input/ontology.ttl
      ONTOP_MAPPING_FILE: /opt/ontop/input/mappings.ttl
      ONTOP_PROPERTIES_FILE: /opt/ontop/input/ontop.properties
      ONTOP_CORS_ALLOWED_ORIGINS: "*"
      ONTOP_LAZY_INIT: "true"
      ONTOP_DEV_MODE: "false"
      DB_URL: ${DB_URL}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_DRIVER: ${DB_DRIVER}
    networks:
      - belhisfirm-network
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8080/"]
      interval: 30s
      timeout: 10s
      retries: 3

  sampo-client:
    build:
      context: ./sampo/client
      target: client-dev
    command: npm run dev
    volumes:
      - ./sampo/client:/app/client
      - client_node_modules:/app/client/node_modules # Prevent overwrite of deps
    ports:
      - "8080:8080"
    working_dir: /app/client
    environment:
      BABEL_ENV: ${BABEL_ENV}
      NODE_ENV: ${NODE_ENV}
      API_URL: ${API_URL}
    depends_on:
      - sampo-server
    networks:
      - belhisfirm-network

  sampo-server:
    build:
      context: ./sampo/server
      target: server-dev
    command: npm run dev
    volumes:
      - ./sampo/server:/app/server
      - ./sampo/configs:/app/configs
      - server_node_modules:/app/server/node_modules # Prevent overwrite of deps
    ports:
      - "3001:3001"
    working_dir: /app/server
    environment:
      BABEL_ENV: ${SERVER_BABEL_ENV}
      NODE_ENV: ${NODE_ENV}
    networks:
      - belhisfirm-network


networks:
  belhisfirm-network:
    driver: bridge

volumes:
  postgres_data:
  postgres_data_scob:
  client_node_modules:
  server_node_modules:
